.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url('/weather.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-direction: column;  /* Stack elements vertically */
}

h1 {
  color: #060606;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  width: 300px;
  max-width: 90%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 16px;
}

.weather-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
}

.weather-card h2 {
  margin-top: 0;
}

.weather-card p {
  margin: 10px 0;
}
